<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf 3.0</title>
    <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.css}" rel="stylesheet"/>
    <script th:src="@{/webjars/jquery/3.2.1/jquery.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.js}"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div th:replace="/fragments/nav :: nav"></div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div th:replace="/fragments/menu :: menu"></div>
            </div>
            <div class="col-md-10">
                <div th:replace="/fragments/content :: content"></div>
            </div>
        </div>
        <div class="row">
            <div th:replace="/fragments/footer :: copy"></div>
        </div>
    </div>
</body>
</html>